/* start of home page*/

#container{
	min-height: 100vh;
	margin-bottom: -180px;
}

#container:after{
	content: "";
	display: block;
	height: 180px;
}

/*header start*/

header{
	position: fixed;
	top:0;
	background-image: url("../images/programming-ide.jpg");
    	background-size: cover;
	width: 100%;
	height: 150px; 
}

h1{
	font-size: 600%;
	font-style: italic;
	font-family:Candara,Arial, Helvetica;
	text-align: center;
	color: #373163;
	line-height: 0%;
	text-shadow: 4px 4px #474461;
}

#mainlink{
	text-decoration: none;
}

a#mainlink:link{
	color:  #373163;
}

a#mainlink:visited{
    	color:  #373163;	
}

a#mainlink:hover{
	font-size: 103%;
	color:  #373163;
}

a#mainlink:focus{
	font-size: 103%;
	color:  #373163;
}

.fa-arrow-left{
	font-size: 5vw;
	color:#373163;
	text-shadow: 4px 4px #474461;
}

.fa-arrow-right{
	font-size: 5vw;
	color:#373163;
	text-shadow: 4px 4px #474461;
	position: absolute;
    	top: 0;
    	right: 20px;
}

a.backfront:link{
	color: #373163;
}

a.backfront:visited{
	color: #373163;
}

a.backfront:hover{
	padding: 20px;
}

a.backfront:focus{
	padding:20px;
}


a.backfront1:link{
	color: #373163;
}

a.backfront1:visited{
	color: #373163;
}

a.backfront1:hover{
	position: absolute;
	top: 0;
	right: 20px;
	
}

a.backfront1:focus{
	position: absolute;
	top: 0;
	right: 20px;
}
/*header end*/

/*body start*/

body{
	background-color: #fcf7d4;
}

.sec{
	position: fixed;
	background-color:#373163;
	width: 100%;
	height: 10px;
    	top:150px;
	border-top: 2px solid black;
}

.linksec{
	position: fixed;
	background-color:#373163;
	width: 100%;
	height: 82px;
	top:160px;
	border-bottom: 2px solid black;
	border-right: 2px solid black;
	border-left: 2px solid black;
}

a.homelink{
	text-decoration: none;
    	position: absolute;
    	font-style: italic;
	font-family:Candara, Arial, Helvetica;
	line-height: 450%;
	padding: 0vw 3vw;
	background-color:#595252;
	margin-left: 10vw;
	border-radius: 10px;
	color: white;
}

a.htmllink{
	text-decoration: none;
    	position: absolute;
    	font-style: italic;
	font-family:Candara, Arial, Helvetica;
	line-height: 450%;
	padding: 0vw 3vw;
	background-color:#595252;
	margin-left: 34vw;
	border-radius: 10px;
	color: white;
}

a.csslink{
	text-decoration: none;
	position: absolute;
	font-style: italic;
	font-family:Candara, Arial, Helvetica;
	line-height: 450%;
	padding: 0vw 4vw;
	background-color:#595252;
	margin-left: 57vw;
	border-radius: 10px;
	color: white;
}
	
a.jslink{
	text-decoration: none;
	position: absolute;
	font-style: italic;
	font-family:Candara, Arial, Helvetica;
	line-height: 450%;
	padding: 0vw 4.6vw;
	background-color:#595252;
	margin-left: 80vw;
	border-radius: 10px;
	color: white;
} 

a.htmllink:link,a.csslink:link,a.jslink:link,a.homelink:link{
    	color: white;
}

a.htmllink:visited,a.csslink:visited,a.jslink:visited,a.homelink:visited{
	color: white;
}

a.htmllink:hover,a.csslink:hover,a.jslink:hover,a.homelink:hover{
	opacity: 0.7;
	border:  2px solid black;
}

a.htmllink:focus,a.csslink:focus,a.jslink:focus,a.homelink;focus{
    	opacity: 0.7;
    	border:  2px solid black;
}

.htmllink a.htmllink,.csslink a.csslink,.jslink a.jslink,.homelink a.homelink{
	background-color:#D3D3D3;
    	color: #000000;
    	border:  2px solid black;

}

.allsec{
	width: 100%;
	height: 54px;
	background-color: #373163;
	margin-top: 290px;
	border-top: 2px solid black;
    	border-bottom: 2px solid black;
	border-right: 2px solid black;
	border-left: 2px solid black;
}


.allinter{
   	margin-left: 37vw;
}

a.interln1{
	text-decoration: none;
	font-style: italic;
	font-family:Candara, Arial, Helvetica;
	font-size: 2vw;
	color:white;
	padding-right:2vw;
	padding-left: 1vw;
	border-right: 2px solid white;
}

a.interln2{
	text-decoration: none;
	font-style: italic;
    	font-family:Candara, Arial, Helvetica;
	font-size: 2vw;
	color:white;
	padding-right:2vw;
	padding-left: 1vw;
	border-right: 2px solid white;
}

a.interln3{
	text-decoration: none;
	font-style: italic;
	font-family:Candara, Arial, Helvetica;
	font-size: 2vw;
	color:white;
	padding-right:2vw;
	padding-left: 1vw;
}

a.interln1:hover{
	color: black;
	text-shadow: 1px 1px white;
}

a.interln2:hover{
	color: black;
	text-shadow: 1px 1px white;
}

a.interln3:hover{
	color: black;
	text-shadow: 1px 1px white;
}

a.interln1:focus{
	color: black;
	text-shadow: 1px 1px white;
}

a.interln2:focus{
	color: black;
	text-shadow: 1px 1px white;
}

a.interln3:focus{
	color: black;
	text-shadow: 1px 1px white;
}


h3{
	text-align: center;
	font-size: 320%;
	font-style: italic;
	font-family:Candara, Arial, Helvetica;
	text-align: center;
    	color:  #373163;
    	text-shadow: 4px 4px #0e0b28;
}

.para{
	font-style: italic;
	font-family:Candara, Arial, Helvetica;
	font-size: 1.15rem;
	line-height: 1.5;
	color: white;
	padding-left: 1.5vw;
	padding-right: 1.5vw;
}

a.link{
	text-decoration: none;
    	text-align: center;
    	font-style: italic;
	font-family:Candara, Arial, Helvetica;
	line-height: 450%;
	padding: 1vw 10vw;
	border:1px solid white;
	background-color:#595252;
	border-radius: 10px;
	color: white;
}

.linkpl{
	margin-left: 4vw;
}

.sidehead{
	font-weight: bolder;
	font-style: italic;
	font-family:Candara, Arial, Helvetica;
	font-size: 1.7rem;
}

.listi{
	color: white;
	font-weight: bold;
	font-style: italic;
	font-family:Candara, Arial, Helvetica;
	font-size: 1.4rem;
}

.sideinfo{
	color: white;
	font-style: italic;
	font-family:Candara, Arial, Helvetica;
	margin-left: 1.5vw;
}

a.link:hover{
	opacity: 0.7;
	border:  2px solid black;
}

a.link:focus{
	opacity: 0.7;
	border:  2px solid black;
}

.htmlsec{
	width: 100%;
	height: auto;
	margin-top: 50px;
	background-color: #ebe8fc;
    border:2px solid black;

}

.csssec{
    	width: 100%;
	height: auto;
	margin-top: 50px;
	background-color: #373163;
    	border:2px solid black;
}

.jssec{
	width: 100%;
	height: auto;
	margin-top: 50px;
	background-color: #373163;
    	border:2px solid black;
}

h2{
	font-size: 270%;
	font-style: italic;
	font-family:Candara, Arial, Helvetica;
	text-align: center;
	color: #373163;
	text-shadow: 4px 4px #474461;
	font-weight: bolder;
}

.ques{
	width: 100%;
	height: auto;
	margin-top: 20px;
	background-color: #373163;
    	border:2px solid black;
}

.fa-angle-down{
	color: white;
	font-size: 1.5rem;
	margin-right: 2em;
	margin-left: auto;
}

.question{
	color: white;
	font-size: 1.3rem;
	font-style: italic;
	font-family:Candara, Arial, Helvetica;
	margin-left: 1.5vw;
}

.ans{
	margin-left: 2.5vw;

}

.answer{
   font-style: italic;
	font-family:Candara, Arial, Helvetica;
	color: white;

}

.hans{
	color: black;
	font-style: italic;
	font-family:Candara, Arial, Helvetica;
	font-size: 1.3rem;
	margin-left: 2.5rem;
	font-weight: bolder;
	background-color: grey;
}

.hide{
	display: none;
	color: white;
	font-style: italic;
	font-family:Candara, Arial, Helvetica;
	font-size: 1.1rem;
	margin-left: 2.5rem;
	font-weight: bold;
}

hr{
	border-top: 1px solid black;
}

.prog{
	color: white;
	font-style: italic;
	font-family:Candara, Arial, Helvetica;
	font-size: 1.1rem;
	margin-left: 2rem;
}

/*body end*/

/*footer start*/
footer{
	background-image: url("../images/programming-ide.jpg");
    	background-size: cover;
	width: 100%;
	height: 220px; 
	margin-top: 50px;
}

.about{
    	font-weight: bolder;
    	color: white;
	font-style: italic;
	font-family:Candara, Arial, Helvetica;
	font-size: 1.4rem;
	text-align: center;

}

.us{
    	color: white;
	font-style: italic;
	font-family:Candara, Arial, Helvetica;
	font-size: 1.1rem;
	text-align: center;
}

.foot{
    	color: white;
	font-style: italic;
	font-family:Candara, Arial, Helvetica;
	font-size: 1.1rem;
	text-align: center;
}




































@media screen and (max-width: 1199px){
	h1{
		line-height: 40%
	}

a.interln1{
	font-size: 2.5vw;
	line-height: 230%
}

a.interln2{
	font-size: 2.5vw;
	line-height: 230%
}

a.interln3{
	font-size: 2.5vw;
    	line-height: 230%
}


    .fa-hand-o-down{
	font-size: 2.5vw;
}

.linkpl{
	margin-left: 6vw;
}
}

@media screen and (max-width: 850px){
	h1{
	font-size: 500%;
	line-height: 60%;
}

.fa-arrow-left{
	font-size: 7vw;
}

.fa-arrow-right{
	font-size: 7vw;
	
}

.fa-hand-o-down{
	font-size: 3vw;
}

.allinter{
   margin-left: 32vw;
}

a.interln1{
	font-size: 3.5vw;
	line-height: 200%
}

a.interln2{
	font-size: 3.5vw;
	line-height: 200%
}

a.interln3{
	font-size: 3.5vw;
    	line-height: 200%
}

.linkpl{
	margin-left: 7vw;
}

}

@media screen and (max-width: 600px){

h1 {
    font-size: 400%;
    line-height: 130%;
}

.allinter{
   margin-left: 27vw;
}

a.interln1{
	font-size: 5vw;
	line-height: 150%
}

a.interln2{
	font-size: 5vw;
	line-height: 150%
}

a.interln3{
	font-size: 5vw;
    line-height: 150%
}

.fa-hand-o-down{
	font-size: 5vw;
}

.linkpl{
	margin-left: 11vw;
}



}
